<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POMODORO TIMER</title>
</head>
<body>
    <div class="Container">
        <h1> ⏳Pomodoro Study Timer</h1>
            <div id="timer">25:00</div>
            <div class="buttons">
                <button onclick="startTimer()"> START </button>
                <button onclick="pauseTimer()"> PAUSE </button>
                <button onclick="ResetTimer()"> RESET </button>
            </div>
            <p id="Status"> STUDY TIME</p>
    </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  
</body>
</html>